.header{
    z-index: 100;
}
.transicao{
    
    animation: arrasta 0.68s linear forwards;
}


@keyframes arrasta{
    from{
        height: 0px;
        opacity: 0;
    }
    to{
        height: fit-content;
        opacity: 1;
    }
}