.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.btn {
<<<<<<< HEAD
    margin-bottom: 1em;
=======
  margin-bottom: 74px;
>>>>>>> 7596f5e (correcao .env e exibicao dos eventos)
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}