.main-labs {
  padding: 0 5em;
}


.grid-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex-basis: 40%;
  margin-top: 1em;
}

.text-wrap {
  margin-bottom: 1em;
}

.title-labs {
  margin: 1em 0;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .grid-cards {
    flex-direction: column;
  }
}
